.vid {
  border: 1px solid #ccc;
  height: 400px;
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 240px;
}
.vid__image {
  background: url(//lorempixel.com/100/200);
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
.vid__play {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.vid__video {
  display: none;
}
.vid__video--show {
  display: block;
}